.chekboxToggle {
  display: none;
  position: relative;
}

.toggle {
  width: 1px;
  height: 1px;
  border: none;
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.toggle + label {
  width: 60px;
  height: 34px;
  position: absolute;
  top: -52px;
  left: -13px;
  font-size: 0;
  transform: rotate(90deg);
}

.toggle + label::before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.toggle:checked + label:before {
  color: #737373;
}

.newTask {
  width: 100%;
  padding: 16px 16px 16px 60px;
  font-size: 24px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  background-color: white;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.newTask::placeholder {
  font-style: italic;
  color: rgba(77, 77, 77, 0.43);
}

.newTask:focus {
  outline: none;
}
