body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
  color: #4d4d4d;
  background: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}


img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main {
  background: #fff;
  margin: 150px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.main-title {
  position: absolute;
  top: -140px;
  width: 100%;
  font-size: 100px;
  font-weight: 400;
  line-height: 150px;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.new-task {
  width: 100%;
  padding: 16px 16px 16px 60px;
  font-size: 24px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  background-color: white;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.new-task::placeholder {
  font-style: italic;
  color: rgba(77, 77, 77, 0.43);
}

.new-task:focus {
  outline: none;
}

.chekbox__toggle-all {
  display: none;
  position: relative;
}

.toggle-all {
  width: 1px;
  height: 1px;
  border: none;
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.toggle-all + label {
  width: 60px;
  height: 34px;
  position: absolute;
  top: -52px;
  left: -13px;
  font-size: 0;
  transform: rotate(90deg);
}

.toggle-all + label::before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
  color: #737373;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
	border-bottom: none;
}

.toggle-one {
  width: 40px;
  height: 40px;
  margin: auto 0;
  border: none;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  text-align: center;
  background: none;
  appearance: none;
  opacity: 0;
}

.toggle-one + label {
  width: 40px;
  height: 40px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.todo-list li label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.todo-list li.editMode .toggle-one + label {
  display: none;
}

.todo-list li .toggle-one + label {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list li .toggle-one:checked + label {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
}

.todo-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo-list li input[type=text] {
  display: none;
  width: 510px;
  padding: 15px 15px 15px 20px;
  margin-left: 40px;
  line-height: 1.2;
  font-size: 24px;
}

.todo-list li input[type=text]:focus {
  outline-color: rgba(32, 125, 212, 0.3);
}

.todo-list li.editMode input[type=text] {
  display: block;
}

.todo-list li.editMode label.label-text {
  display: none;
}

.todo-list li .delete {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 17%;
  right: 10px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  appearance: none;
}

.todo-list li .delete:hover {
  color: #af5b5e;
}

.todo-list li .delete:focus {
  outline: none;
}

.todo-list li .delete::after {
	content: '×';
}

.todo-list li:hover .delete {
	display: block;
}

.todo-list li.editMode:hover .delete {
	display: none;
}

.footer {
  position: relative;
  display: none;
  color: #777;
	padding: 10px 15px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
  margin-right: 100px;
}

.todo-count strong {
	font-weight: 300;
}

.filters {
  display: flex;
	margin: 0;
  margin-right: 60px;
	padding: 0;
	list-style: none;
}

.filters__item {
  position: relative;
  z-index: 10;
	color: inherit;
  margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
}

.filters__item:hover {
  border: 1px solid rgba(175, 47, 47, 0.1);
  border-radius: 3px;
}

.filters__item.selected {
  border: 1px solid rgba(175, 47, 47, 0.2);
  border-radius: 3px;
}

.clear-completed {
  display: none;
  position: relative;
  z-index: 10;
  border: 0;
  background: none;
	text-decoration: none;
	cursor: pointer;
  color: #777;
}

.clear-completed:hover {
	text-decoration: underline;
}

.clear-completed:focus {
	outline: none;
}

.info {
	margin: 65px auto 0;
	color: #bfbfbf;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.info p {
	line-height: 1;
}
