.toggle {
  width: 40px;
  height: 40px;
  margin: auto 0;
  border: none;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  text-align: center;
  background: none;
  appearance: none;
  opacity: 0;
}

.toggle + label {
  width: 40px;
  height: 40px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.item {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.item:last-child {
	border-bottom: none;
}

.item label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.item .toggle + label {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: center left;
}

.item .toggle:checked + label {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
}

.item.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.input {
  display: none;
  width: 510px;
  padding: 15px 15px 15px 20px;
  margin-left: 40px;
  line-height: 1.2;
  font-size: 24px;
}

.input:focus {
  outline-color: rgba(32, 125, 212, 0.3);
}

.item .delete {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 17%;
  right: 10px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  appearance: none;
}

.item .delete:hover {
  color: #af5b5e;
}

.item .delete:focus {
  outline: none;
}

.item .delete::after {
	content: '×';
}

.item:hover .delete {
	display: block;
}
