.footer {
  position: relative;
  display: none;
  color: #777;
	padding: 10px 15px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.count {
  margin-right: 100px;
}

.count strong {
	font-weight: 300;
}

.filters {
  display: flex;
	margin: 0;
  margin-right: 60px;
	padding: 0;
	list-style: none;
}

.item {
  position: relative;
  z-index: 10;
	color: inherit;
  margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
}

.item:hover {
  border: 1px solid rgba(175, 47, 47, 0.1);
  border-radius: 3px;
}

.item.selected {
  border: 1px solid rgba(175, 47, 47, 0.2);
  border-radius: 3px;
}

.completed {
  display: none;
  position: relative;
  z-index: 10;
  border: 0;
  background: none;
	text-decoration: none;
	cursor: pointer;
  color: #777;
}

.completed:hover {
	text-decoration: underline;
}

.completed:focus {
	outline: none;
}

.info {
	margin: 65px auto 0;
	color: #bfbfbf;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.info p {
	line-height: 1;
}
